{% extends "core/base.html" %}
{% block title %}
  Apply for {{post.title}}
{% endblock %}
{% block content %}
<section class="mt-3 mx-3 mb-3" id="create_post" enctype="multipart/form-data">
  <div class="">
    <h1 class="my-3 text-center">Apply for Job</h1>
    <form class="" method="post">
      {% csrf_token %}
      <div class="row">
        <div class="col-md-6 col-12">
          <label for="">Full Name <span class="text-danger" style="font-size:10px">Not editable | edit from dashboard</span></label>
          <input type="text" name="" value="{{user.first_name}} {{user.last_name}}" disabled>
        </div>
        <div class="col-md-6 col-12">
          <label for="">Passport Photo <span class="text-danger" style="font-size:10px">Not editable | edit from dashboard</span></label>
          <img src="{{user.photo.url}}" alt="" style="width:50px" class="d-block">
        </div>
        <div class="col-md-6 col-12">
          <label for="">Email <span class="text-danger" style="font-size:10px">Not editable | edit from dashboard</span></label>
          <input type="text" name="" value="{{user.email}}" disabled>
        </div>
        <div class="col-md-6 col-12">
          <label for="">Phone Number <span class="text-danger" style="font-size:10px">Not editable | edit from dashboard</span></label>
          <input type="text" name="" value="{{user.phone_number}}" disabled>
        </div>
        <div class="col-md-6 col-12">
          <label for="">Alternative Number</label>
          <input type="text" name="alternative_number" value="{{alternative_number}}">
        </div>
        <div class="col-md-4 col-12">
          <label for="">Age</label>
          <input type="number" name="age" value="{{age}}">
        </div>
        <div class="col-md-4 col-12">
          <label for="">City</label>
          <input type="text" name="city" value="{{city}}">
        </div>
        <div class="col-md-4 col-12">
          <label for="">Pin Code</label>
          <input type="text" name="pin_code" value="{{pin_code}}">
        </div>
        <div class="col-md-4 col-12">
          <label for="">Previous Education</label>
          <input type="text" name="eduction" value="{{eduction}}">
        </div>
        <div class="col-md-4 col-12">
          <label for="">Education completed in</label>
          {{finished_in}}
          <input type="date" name="finished_in"  value="{{finished_in}}">
        </div>
        <div class="col-md-8 col-12">
          <label for="">Address</label>
          <!-- <input type="text" name="end_date"  value=""> -->
          <textarea name="address"class="w-100 ">{{address}}</textarea>
        </div>
      </div>
      <div class="button d-flex justify-content-center">
        <button type="submit" name="button">Submit Post</button>
      </div>
    </form>
  </div>
</section>
{% endblock content %}
